Repository TheJumpCloud/jumpcloud-ADMU, pull requests merged in 2024-07, with the labels that each got.

#125 V2.7.0
  .github/workflows/admu-ci.yml
  .github/workflows/admu-release.yml
  Deploy/Build-Exe.ps1
  Deploy/uwp_jcadmu.ps1
  Microsoft Windows ADK EULA.pdf
  Microsoft Windows ADK EULA.rtf
  ModuleChangelog.md
  jumpcloud-ADMU/JumpCloud.ADMU.psd1
  jumpcloud-ADMU/Powershell/Form.ps1
  jumpcloud-ADMU/Powershell/ProgressForm.ps1
  jumpcloud-ADMU/Powershell/Start-JCADMU.ps1
  jumpcloud-ADMU/Powershell/Start-Migration.ps1
  jumpcloud-ADMU/Powershell/Tests/Build.Tests.ps1
  jumpcloud-ADMU/Powershell/Tests/Migration.Tests.ps1
Labels: ADMU, minor

#129 2.7.1 release
  .github/workflows/admu-release.yml
  jumpcloud-ADMU/JumpCloud.ADMU.psd1
  jumpcloud-ADMU/Powershell/Form.ps1
  jumpcloud-ADMU/Powershell/ProgressForm.ps1
  jumpcloud-ADMU/Powershell/Start-Migration.ps1
Labels: ADMU, manual

#130 2.7.2 changes for GUI window
  ModuleChangelog.md
  jumpcloud-ADMU/JumpCloud.ADMU.psd1
  jumpcloud-ADMU/Powershell/Form.ps1
  jumpcloud-ADMU/Powershell/ProgressForm.ps1
  jumpcloud-ADMU/Powershell/Start-Migration.ps1
Labels: ADMU, patch

#131 CUT-4223-LeaveLocalDomainFix
  ModuleChangelog.md
  jumpcloud-ADMU/JumpCloud.ADMU.psd1
  jumpcloud-ADMU/Powershell/Form.ps1
  jumpcloud-ADMU/Powershell/ProgressForm.ps1
  jumpcloud-ADMU/Powershell/Start-Migration.ps1
Labels: ADMU, patch
