Repository TheJumpCloud/jumpcloud-ADMU, pull requests merged in 2025-07, with the labels that each got.

#187 WP Policy Validation
  ModuleChangelog.md
  jumpcloud-ADMU/JumpCloud.ADMU.psd1
  jumpcloud-ADMU/Powershell/Private/DisplayForms/Form.ps1
  jumpcloud-ADMU/Powershell/Private/DisplayForms/ProgressForm.ps1
  jumpcloud-ADMU/Powershell/Private/RegistryKey/Test-UserRegistryLoadState.ps1
  jumpcloud-ADMU/Powershell/Private/UserIdentification/Test-WallpaperPolicy.ps1
  jumpcloud-ADMU/Powershell/Public/Start-Migration.ps1
  jumpcloud-ADMU/Powershell/Tests/Private/UserIdentification/Test-UserFolderRedirect.Acceptance.Tests.ps1
Labels: patch

#189 Cut 4813 invoke logging
  ModuleChangelog.md
  jumpcloud-ADMU-Advanced-Deployment/InvokeFromJCAgent/3_ADMU_Invoke.ps1
  jumpcloud-ADMU/JumpCloud.ADMU.psd1
  jumpcloud-ADMU/Powershell/Public/Start-Migration.ps1
Labels: ADMU, patch

#188 wp policy removal (#187)
  ModuleChangelog.md
  jumpcloud-ADMU-Advanced-Deployment/InvokeFromJCAgent/3_ADMU_Invoke.ps1
  jumpcloud-ADMU/JumpCloud.ADMU.psd1
  jumpcloud-ADMU/Powershell/Private/DisplayForms/Form.ps1
  jumpcloud-ADMU/Powershell/Private/DisplayForms/ProgressForm.ps1
  jumpcloud-ADMU/Powershell/Private/Permissions/Set-RegPermission.ps1
  jumpcloud-ADMU/Powershell/Private/RegistryKey/Test-UserRegistryLoadState.ps1
  jumpcloud-ADMU/Powershell/Private/UserIdentification/Set-WallpaperPolicy.ps1
  jumpcloud-ADMU/Powershell/Public/Start-Migration.ps1
  jumpcloud-ADMU/Powershell/Tests/Private/Permissions/Set-RegPermission.Tests.ps1
  jumpcloud-ADMU/Powershell/Tests/Private/UserIdentification/Test-UserFolderRedirect.Acceptance.Tests.ps1
Labels: ADMU, patch

#190 Release 2.8.7
  ModuleChangelog.md
  jumpcloud-ADMU/JumpCloud.ADMU.psd1
  jumpcloud-ADMU/Powershell/Private/DisplayForms/Form.ps1
  jumpcloud-ADMU/Powershell/Private/DisplayForms/ProgressForm.ps1
  jumpcloud-ADMU/Powershell/Public/Start-Migration.ps1
Labels: ADMU, manual
